mixin footer()
    footer.footer
        .container
            .footer__row
                .footer__col.footer__wrapp
                    a.footer__coockies(href="https://docs.google.com/document/d/1xLUhIKKlCz7hphpEmdRahGf5Qy_BFiJL8DlJ_efDcKs/edit", target="_blank") Cookies Policy
                    span.footer__point &bull;
                    a.footer__coockies(href="https://docs.google.com/document/d/14HskM7-OZa8vuOKa3LgAMsx4jdf9oDaeig6_Uaka5xE/edit", target="_blank") Privacy Policy
                .footer__col.footer__unp-wrapper
                    a.footer__logo(href="/") zankoav.com
                    span.footer__unp UNP 192217405
                .footer__col
                    .footer__copy © 2018 All rights reserved.
