@use "@styles/constants";

.socials {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 12px;
    background-color: constants.$PRIMARY_10;

    &__item-icon {
        max-width: 42px;
        max-height: 42px;
        margin: 0.5rem;
        width: 42px;
        padding: 0.5rem;
    }
}
