@import "./../../common/constants";

.menu-left {

    border: 1px solid $BLUE;
    padding: 20px 16px;

    @include md {
        border: initial;
        padding: initial;
    }

    &__list {
        display: none;

        @include md {
            display: block;
        }
    }

    &__item {
        border-bottom: 1px solid $GRAY_LIGHT_3;

        &:first-child {
            a {
                padding-top: 2rem;

                @include md {
                    padding-top: 1rem;
                }
            }
        }

        &:last-child {
            border-bottom: none;

            a {
                padding-bottom: 0;
            }
        }

        a {
            color: $BLUE;
            font-weight: 500;
            transition: .4s;
            font-size: 18px;
            padding: 1rem 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &:hover {
            a {
                color: $PRIMARY;
            }
        }

        &_active {
            a {

                &:after {
                    content: none;

                    flex-shrink: 0;
                    width: 1rem;
                    height: 1rem;
                    display: inline-block;
                    background: url('./../../images/red-right-arrow.svg') right no-repeat;
                    background-size: contain;

                    @include sm {
                        margin-left: 1rem;
                    }

                    @include md {
                        content: '';
                    }
                }
            }
        }
    }

    &__active-item {
        color: $BLUE;
        display: flex;
        font-weight: 700;
        align-items: center;
        justify-content: space-between;
        font-size: 18px;

        @include md {
            display: none;
        }

        &:after {
            content: '';
            flex-shrink: 0;
            width: 1rem;
            height: 1rem;
            display: inline-block;
            background: url('./../../images/red-right-arrow.svg') right no-repeat;
            background-size: contain;
            transition: .4s;

            @include sm {
                margin-left: 1rem;
            }
        }

        &_active {
            &:after {
                transform: rotate(90deg);
            }
        }
    }
}