@import "./../../common/mixins";

.booking {
	@include lg {
		margin: 2rem 0;
	}

	.container {
		padding: 0;
		@include lg {
			padding: 0 2rem;
			max-width: 600px;
		}
	}

	&__card {
		background-color: $WHITE;
		overflow: hidden;
		@include lg {
			border-radius: 8px;
			box-shadow: 0 2px 4px $GRAY_6;
		}
	}
}
