<template>
    <div class="booking"
         onbooking={bookingOrder}>
        <div class="container">
            <div class="booking__card">
                <templte if:true={loading}>
                    <div class="booking__body">
                        <h3 class="booking__title">Бронирую...</h3>
                        <z-loader></z-loader>
                    </div>
                </templte>
                <templte if:false={loading}>
                    <templte if:true={settings.orderedSuccess}>
                        <div class="booking__body booking__body_success">
                            <h3 class="booking__title">Бронирование выполнено успешно!</h3>
                            <img src={okImage}
                                 alt="checkon"
                                 class="booking__ok">
                            <p class="booking__description">Наш сотрудник скоро свяжется с вами для уточнения деталей
                            </p>
                        </div>
                    </templte>
                    <templte if:false={settings.orderedSuccess}>
                        <z-steps-navigator settings={settings}></z-steps-navigator>
                        <div class="booking__body">
                            <z-step-house if:true={isHouseStep}
                                          settings={settings}>
                            </z-step-house>
                            <z-step-date if:true={isDateStep}
                                         settings={settings}>
                            </z-step-date>
                            <z-step-contact if:true={isContactStep}
                                            settings={settings}>
                            </z-step-contact>
                            <z-step-checkout if:true={isCheckoutStep}
                                             settings={settings}>
                            </z-step-checkout>
                        </div>
                    </templte>
                </templte>
            </div>
        </div>
    </div>
</template>