<template>
    <div class="step-food">
        <div if:true={foodAvailable} class="step-food__body">
            <z-radio-buttons view="column" class="step-food__variants" onradiochange={changeVariantHandler} options={variants}></z-radio-buttons>

            <template if:true={isCustom}>
                <div class="step-food__help-text step-food__help-text_pb_10">
                    Количество выбранных завтраков/обедов/ужинов = количеству порций, которые необходимы всей вашей компании в течение периода
                    проживания.
                </div>
                <div if:true={settings.foodBreakfastPrice} class="step-food__group">
                    <z-select
                        data-name="foodBreakfast"
                        label="Количество порций завтраков"
                        onchange={foodChange}
                        options={breakfastOptions}></z-select>
                    <div class="step-food__description">
                        Стоимость одного завтрака <z-price-view price={foodBreakfastPrice}></z-price-view> с человека
                    </div>
                </div>
                <div if:true={settings.foodLunchPrice} class="step-food__group">
                    <z-select data-name="foodLunch" label="Количество порций обедов" onchange={foodChange} options={lunchOptions}></z-select>
                    <div class="step-food__description">Стоимость одного обеда <z-price-view price={foodLunchPrice}></z-price-view> с человека</div>
                </div>
                <div if:true={settings.foodDinnerPrice} class="step-food__group">
                    <z-select data-name="foodDinner" label="Количество порций ужинов" onchange={foodChange} options={dinnerOptions}></z-select>
                    <div class="step-food__description">Стоимость одного ужина <z-price-view price={foodDinnerPrice}></z-price-view> с человека</div>
                </div>
                <template if:true={settings.foodTripleSalePrice}>
                    <div class="step-food__help-text">
                        При заказе трёхразового питания (завтрак, обед, ужин) <span class="step-food__sale">СКИДКА</span>: 
                        <z-price-view price={foodTripleSalePrice}></z-price-view> в сутки.
                    </div>
                </template>

                <div class="step-food__help-text-added">
                    Обращаем ваше внимание, что при заказе питания онлайн вам необходимо дополнительно сообщить даты, в которые вы хотели бы
                    воспользоваться данной услугой. Укажите это в комментарии к бонированию (на следующем этапе).
                </div>
            </template>
        </div>
        <div if:false={foodAvailable} class="step-food__body step-food__body_empty">{settings.foodNotAvailableText}</div>
        <z-total-price if:true={settings.admin} settings={settings}></z-total-price>
        <z-step-button-navigation
            onback={backButtonHandler}
            onnext={nextButtonHandler}
            error={error}
            settings={settings}
            is-back-button-need></z-step-button-navigation>
    </div>
</template>
