@import "./../../../common/mixins";

.step-food {
    padding: 20px 12px 32px;

    @include md {
        padding: 24px 32px 32px;
    }

    &__description {
        margin-top: 0.25rem;
        font-size: 14px;
        color: $GRAY_4;
    }

    &__help-text {
        color: $GRAY_4;
        padding-top: 1rem;
        border-top: 1px solid #f7f7f7;

        &_pb_10{
            padding-top: 0;
            padding-bottom: 1rem;
            border-top: 0
        }
    }

    &__sale{
        color: $RED_2;
        border-bottom: 1px dashed $RED_2;
        display: inline-block;
    }

    &__help-text-added{
        color: $GRAY_4;
        font-size: 14px;
        padding-bottom: 1.5rem;
        padding-top: .5rem;

        &::before{
            content: '*';
            color: $RED_2;
            margin-right: 4px;
        }
    }

    &__select {
        display: block;
    }

    &__group {
        margin-bottom: 1rem;
    }

    &__body {
        &_empty {
            margin-bottom: 1rem;
            height: 100px;
            display: flex;
            text-align: center;
            align-items: center;
            text-transform: uppercase;
            justify-content: center;
        }
    }
}
