@import './../../common/mixins';

.place {
    font-size : 14px;
    color     : $WHITE;

    // @include sm{
    //     margin-left : 1.5rem;
    // }

    &__title {
        text-transform : uppercase;
    }

    &__day{
        font-weight : 700;
    }
}