@import "./../../common/mixins";

.header-primary {
	height: 64vh;
	min-height: 300px;
	position: relative;

	@include sm {
		min-height: 500px;
	}

	@include md {
		height: 50vh;
		min-height: 500px;
	}

	@include lg {
		height: 40vh;
		min-height: 400px;
	}

	&__banner {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: 50% 50%;
	}

	&__banner-layout {
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		background-color: rgba(0, 0, 0, 0.5);
	}

	&__content {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		color: $WHITE;
	}

	&__title {
		text-align: center;
		font-size: 26px;
		font-family: AvenirNextCyr-Bold, sans-serif;

		@include sm {
			font-size: 40px;
		}
	}
}
