@use "@styles/media";
@use "@styles/constants";

.cookie {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 9999999;

    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: 1px solid #1498c6;
        border-bottom: 1px solid #1498c6;
        background-color: #fff;
        padding: 1rem;
    }

    &__text {
        font-size: 18px;
        color: #4a4a4a;
        font-weight: bold;
        margin-right: 1.5rem;

        @include media.sm {
            font-size: 20px;
            margin-right: 2rem;
        }
    }

    &__button {
        color: #fff;
        background-color: constants.$RED_2;
        font-weight: bold;
        border-radius: 8px;
        padding: 0.5rem 2rem;
        font-size: 16px;

        @include media.sm {
            padding: 0.5rem 2rem;
            font-size: 18px;
        }
    }
}
