<template>
    <a class="update-oracle mb-2"
       target="_blank"
       href='/admin/download-old-format'>
        <img class="update-oracle__img"
             src={img.download}
             alt="download">
        <span>old format .csv</span>
    </a>
    <template if:false={updatingOracle}>
        <a class="update-oracle mt-2"
           onclick={updateOracle}
           href='javascript:void(0);'>
            <span>Update Oracle DB</span>
        </a>
    </template>
    <template if:true={updatingOracle}>
        <z-spinner text="Updating..."></z-spinner>
    </template>
</template>