<template>
	<div class="season-details">
		<div class="season-details__title">{season.name}</div>
		<div class="season-details__condition">
			<div class="season-details__subtitle">Условия:</div>
			<div class="season-details__item">
				<div class="season-details__item-title">Стоимость спального места за ночь</div>
				<z-number-value num={price}
								value="руб"></z-number-value>
			</div>
			<div if:true={minPricePerDay}
				 class="season-details__item">
				<div class="season-details__item-title">Минимальная стоимость за ночь</div>
				<z-number-value num={minPricePerDay}
								value="руб"></z-number-value>
			</div>
			<template if:true={minDays}>
				<div class="season-details__item">
					При выборе менее <span class="season-details__price-night">{minDays}</span> ночей минимальная
					стоимость
					увеличится
					<span class="season-details__mark">*</span>
				</div>
				<div class="season-details__item">
					<span class="season-details__mark">*</span> <span class="season-details__decoding">см.
						расшифровку</span>
				</div>
			</template>
		</div>
		<div if:true={targetHouse.peoplesForSales.length}
			 class="season-details__condition season-details__condition_border">
			<div class="season-details__subtitle">Скидки на количество человек:</div>
			<template for:each={targetHouse.peoplesForSales}
					  for:item="sale">
				<div key={sale.people}
					 class="season-details__item">
					<span class="season-details__price-night">{sale.percent}%</span>
					<span class="season-details__sale">от <span class="season-details__sale-value">{sale.people}</span>
						человек</span>
				</div>
			</template>
		</div>

	</div>
</template>