<template>
	<div class="season-details">
		<div class="season-details__title">{season.name}</div>
		<div class="season-details__condition">
			<div class="season-details__subtitle">Условия:</div>
			<div class="season-details__item">
				<div class="season-details__item-title">Стоимость спального места за ночь</div>
				<span class="number-value"
					  data-after="руб">{price}</span>
			</div>
			<div class="season-details__item">
				<div class="season-details__item-title">Минимальная стоимость за ночь</div>
				<span class="number-value"
					  data-after="руб">{minPricePerDay}</span>
			</div>
			<div class="season-details__item">
				При выборе менее <span class="season-details__price-night">4</span> ночей минимальная стоимость
				увеличится
				<span class="season-details__mark">*</span>
			</div>
			<div class="season-details__item">
				<span class="season-details__mark">*</span> <span class="season-details__decoding">см.
					расшифровку</span>
			</div>
		</div>

		<div class="season-details__condition season-details__condition_border">
			<div class="season-details__subtitle">Скидки на количество человек:</div>
			<div class="season-details__item">
				<span class="season-details__price-night">12%</span>
				<span class="season-details__sale">от <span class="season-details__sale-value">5</span> человек</span>
			</div>
			<div class="season-details__item">
				<span class="season-details__price-night">15%</span>
				<span class="season-details__sale">от <span class="season-details__sale-value">6</span> человек</span>
			</div>
		</div>

	</div>
</template>