@import "./../../../common/mixins";

:root {
    --swiper-theme-color: #bcbcbc;
    --swiper-navigation-size: 40px;
    --swiper-navigation-top-offset: 40%;
}

.slider {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;

    &__title {
        text-align: center;
        font-weight: 700;
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
        font-family: AvenirNextCyr-Bold, sans-serif;
        color: #4a4a4a;
        text-transform: uppercase;

        &:before,
        &:after {
            margin-right: 0.5rem;
            color: #7ed321;
            content: "/";
        }

        &:after {
            margin-left: 0.5rem;
            margin-right: 0;
        }
    }

    .swiper {
        width: 100%;
        color: $GRAY_1;

        .swiper-slide {
            width: 75%;
            height: initial;
            padding: 0 0.5rem;
            display: flex;
            flex-direction: column;

            &__container {
                background-color: $WHITE;
                padding: 1rem 1rem 1.5rem;
                border-bottom-left-radius: 8px;
                border-bottom-right-radius: 8px;
                flex-grow: 1;
            }

            &__link {
                display: flex;
                border-radius: 8px;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
                flex-direction: column;
                width: 100%;
                height: 180px;
                background-position: center center;
                background-size: cover;
                background-repeat: no-repeat;
                position: relative;
            }

            &__title {
                font-size: 18px;
                line-height: 1.25;
                font-weight: 700;
                text-align: center;
                color: $GRAY_1;
            }

            &__date,
            &__price-description {
                font-size: 12px;
                line-height: 16px;
                font-weight: 300;
                text-align: center;
                color: $GRAY_7;

                &:empty {
                    display: none;
                }
            }

            &__date {
                text-align: center;
                color: $GRAY_9;
                margin-top: 0.25rem;

                &_hide {
                    display: none;
                }
            }

            &__price-info {
                margin-top: 1.5rem;
                display: flex;
                flex-direction: column;
            }

            &__price-description {
                font-size: 14px;
            }

            &__price-currency {
                color: $RED_2;
                text-align: center;
                text-transform: uppercase;
                font-weight: 700;
                font-size: 14px;

                &:empty {
                    display: none;
                }

                &::after {
                    content: "BYN";
                    margin-left: 0.25rem;
                }
            }
        }

        .swiper-slide-next,
        .swiper-slide-prev {
            .swiper-slide__link {
                transition: all 0.3s;
                filter: brightness(0.5);
            }
        }

        .swiper-button-next,
        .swiper-button-prev {
            width: 40px;
            height: 180px;
            top: 0;
            left: 0;
            margin-top: 0;
            outline: none;
        }

        .swiper-button-next {
            left: initial;
            right: 0;
        }
    }
}
