@use "@styles/media";
@use "@styles/constants" as *;

.header-primary {
    position: relative;

    &__banner {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
    }

    &__banner-layout {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }

    &__content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: $WHITE;
    }

    &__title {
        padding: 1rem 0 2rem;
        text-align: center;
        font-size: 26px;
        font-family: AvenirNextCyr-Bold, sans-serif;

        @include media.sm {
            font-size: 40px;
            padding: 2rem 0 3rem;
        }

        @include media.lg {
            padding: 4rem 0 5rem;
        }
    }
}
