@import './../../common/mixins';

.payment-methods {
    &__label{
        margin-right: 0.5rem;
        font-size: 14px;
        color: $GRAY_4;
        text-transform: uppercase;

        @include sm {
            margin-bottom: 0;
            width: 140px;
        }
    }

    &__payment{

        &_mb_10{
            margin-bottom: 1rem;
        }

        @include sm {
            display: flex;
            align-items: center;
        }
    }

    &__buttons{
        width: 300px;
    }
}