<template>
    <div class="payment-methods">
        <div if:true={prepead} class="payment-methods__payment payment-methods__payment_mb_10">
            <div class="payment-methods__label">ОПЛАТА:</div>
            <z-radio-buttons class="payment-methods__buttons" onradiochange={prepaidOptionsHandle} options={prepaidOptions}></z-radio-buttons>
        </div>
        <div class="payment-methods__payment">
            <div class="payment-methods__label">СПОСОБ ОПЛАТЫ:</div>
            <z-radio-buttons class="payment-methods__buttons" onradiochange={paymentMethodsHandle} options={paymentMethods}></z-radio-buttons>
        </div>
    </div>
</template>