<template>
    <div class="step-food">
        <div if:true={foodAvailable} class="step-food__body">
            <div if:true={settings.foodBreakfastPrice} class="step-food__group">
                <z-select data-name="foodBreakfast" label="Количество завтраков" onchange={foodChange} options={breakfastOptions}></z-select>
                <div class="step-food__description">
                    Стоимость одного завтрака <span class="number-value" data-after="руб">{settings.foodBreakfastPrice}</span> с человека
                </div>
            </div>
            <div if:true={settings.foodLunchPrice} class="step-food__group">
                <z-select data-name="foodLunch" label="Количество обедов" onchange={foodChange} options={lunchOptions}></z-select>
                <div class="step-food__description">
                    Стоимость одного обеда <span class="number-value" data-after="руб">{settings.foodLunchPrice}</span> с человека
                </div>
            </div>
            <div if:true={settings.foodDinnerPrice} class="step-food__group">
                <z-select data-name="foodDinner" label="Количество ужинов" onchange={foodChange} options={dinnerOptions}></z-select>
                <div class="step-food__description">
                    Стоимость одного ужина <span class="number-value" data-after="руб">{settings.foodDinnerPrice}</span> с человека
                </div>
            </div>
        </div>
        <div if:false={foodAvailable} class="step-food__body step-food__body_empty">{settings.foodNotAvailableText}</div>
        <z-total-price if:true={settings.admin} settings={settings}></z-total-price>
        <z-step-button-navigation
            onback={backButtonHandler}
            onnext={nextButtonHandler}
            error={error}
            settings={settings}
            is-back-button-need></z-step-button-navigation>
    </div>
</template>
