@import "./../../common/constants";

.contact-form {
    position: relative;
    z-index: 1;
    padding-bottom: 3rem;
    background-color: $WHITE;

    @include sm {
        padding-bottom: 5rem;
    }

    &__form {
        text-align: center;

        &_success {

            .contact-form__success-icon {
                display: inline-block;
            }

            .oops-group {
                display: none;
            }
        }
    }

    &__message {
        border-radius: 6px;
        font-size: 16px;
        padding: 20px;
        color: $WHITE;
        margin-bottom: 25px;
        text-align: center;
        background-color: $PRIMARY;
        display: none;

        @include sm {
            font-size: 20px;
            margin-bottom: 30px;
        }
    }

    &__success-icon {
        display: none;
        margin: 1rem 0 1rem;
        font-size: 10rem;
        color: $BLUE_LIGHT_2;

        &.fa-times-circle{
            color: $PRIMARY;
        }
    }

    &__title {
        color: $BLUE;
        font-size: 1rem;
        font-weight: 500;
        max-width: 180px;
        margin: 0 auto 3rem;
        display: block;

        @include sm {
        }

        @include lg {
        }

        &:empty {
            display: none;
        }
    }

    &__row {
        display: flex;
        flex-wrap: wrap;
        max-width: initial;
        margin: 0 -1rem;
        flex-direction: column-reverse;

        @include md {
            flex-direction: row;
            margin: 0 -2rem;
        }
    }

    &__col {
        max-width: 100%;
        flex: 1 0 100%;
        padding: 0 1rem;

        @include md {
            max-width: 50%;
            flex: 1 0 50%;
            padding: 0 2rem;
        }
    }

    &__text {
        color: $GRAY_LIGHT;
        line-height: 1.5;
        font-size: 16px;
        font-weight: 300;
        margin-bottom: 1.5rem;
        margin-top: 3rem;
        position: relative;
        padding-left: 3rem;
        padding-top: 1rem;

        &:before {
            content: '';
            background: url("./../../images/comment.svg") no-repeat;
            background-size: contain;
            display: inline-block;
            position: absolute;
            left: 0;
            top: 0;
            width: 80px;
            height: 60px;
        }

        &:last-child {
            margin-bottom: 0;
            margin-top: 0;
        }

        @include md {
            margin-top: 0;
        }
    }

    &__welcome {
        font-size: 24px;
        font-weight: 500;
        text-transform: uppercase;
        color: $GRAY_LIGHT;
        margin-bottom: 2rem;
    }
}