.total-price {
	
	border-top: 1px solid #f7f7f7;
	padding: 1.5rem 0;

    &__container{
        display: flex;
        justify-content: space-between;
    }

    &__warning{
        display: flex;
        align-items: center;
        margin-top: 0.5rem;
    }

    &__warning-icon{
        flex-shrink: 0;
        margin-right: .5rem;
    }

    &__warning-message{
        color: #f5a623;
        font-size: 14px;
    }

	&__title {
		font-size: 16px;
		font-weight: 400;
		color: #212e35;
	}

	&__more {
		font-size: 14px;
		font-weight: 300;
		color: #80828a;
		cursor: pointer;
		display: flex;
		align-items: center;
	}

	&__more::after {
		content: "";
		display: block;
		width: 6px;
		height: 6px;
		border-bottom: 1px solid #80828a;
		border-right: 1px solid #80828a;
		margin-left: 8px;
		margin-bottom: 2px;
		transition: all .3s ease-in;
		transform-origin: center;
		transform: rotate(-135deg) scale(-1, -1);
	}

	&__more_active::after {
		transform: rotate(-135deg) scale(1, 1);
		margin-bottom: -6px;
	}

	&__decoding-price{
		display: block;
		padding-bottom: 1.5rem;
	}
}
