<template>
	<z-loader if:true={settings.totalPriceLoading}></z-loader>
	<template if:false={settings.totalPriceLoading}>
		<template if:true={settings.total}>
			<div class="total-price">
				<div class="total-price__title">
					Итого: <span class="number-value" data-after="руб">{settings.total.total_price}</span>
				</div>
				<div class={classNameMore} onclick={tooglePrice}>см. расшифровку</div>
			</div>
			<z-decoding-price if:true={isOpenTotalPrice} class="total-price__decoding-price" settings={settings}></z-decoding-price>
		</template>
	</template>
</template>