doctype html
html
  head
    meta(charset = 'utf-8')
    meta(name='viewport', content="initial-scale=1.0, width=device-width")
    title=htmlWebpackPlugin.options.title
    <link href="https://krasnagorka.by/wp-content/themes/krasnagorka/lwc/frontend/fonts/AvenirNextCyr/fonts.css" rel="stylesheet"/>
    style.
        body{
            background: #f0f0f0;
        }
        .accordion-mixed__content-inner{
            max-width:1136px;
            margin: 60px auto;
            padding: 1.5rem;
            background-color: #fff;
        }
  body
    .accordion-mixed__content-inner(data-event="24793")

