mixin video()
	a.video(href='https://public.ivideon.com/embed/v3/?server=100-Zkn8nBIwRPePMTeUfZtRVW&camera=0&width=&height=&lang=ru')
		img.video__icon(src=require('./../img/online-video.svg').default)
		span.video__title смотреть ONLINE
