@import "./../../../common/mixins";

.event-item {
    background: $WHITE;
    box-shadow: 0px 4px 4px rgba($BLACK, 0.25);
    border-radius: 0.5rem;
    font-size: 14px;

    @include lg {
        display: flex;
        font-size: 16px;
    }

    &__image-wrapper {
        overflow: hidden;
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
        @include lg {
            max-width: 300px;
            flex: 1 0 300px;
            border-top-right-radius: 0;
            border-bottom-left-radius: 0.5rem;
        }
    }

    &__image {
        max-width: 100%;
        display: block;
        object-fit: cover;

        @include lg {
            height: 100%;
        }
    }

    &__content {
        padding: 0.5rem 0.75rem;
        color: $GRAY_1;

        @include lg {
            flex-grow: 1;
            padding: 0.75rem 1rem;
        }
    }

    &__order {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        border-top: 1px dashed #eeeeee;

        @include lg {
            max-width: 200px;
            flex: 1 0 200px;
            border-top: 0;
            border-left: 1px dashed #eeeeee;
            flex-direction: column;
        }
    }

    &__date-desktop {
        display: none;
        @include lg {
            display: block;
        }
    }

    &__date-mobile {
        display: block;
        @include lg {
            display: none;
        }
    }

    &__order-button {
        display: inline-block;
        background-color: $RED;
        border-radius: 0.25rem;
        text-align: center;
        color: $WHITE;
        padding: 0.5rem 1rem;
        font-weight: 600;
    }

    &__line {
        display: block;
        margin: 0.5rem 0;
        height: 32px;

        &_price {
            @include lg {
                display: none;
            }
        }
    }

    &__line-value {
        font-weight: 600;
    }

    &__price {
        color: $RED;
        font-weight: 700;
        &:after {
            content: " руб.";
            color: $GRAY_6;
            font-size: 0.75em;
        }
    }

    &__order-price {
        display: none;

        @include lg {
            display: inline-block;
            color: $RED;
            font-weight: 700;
            margin-bottom: 1rem;
            font-size: 24px;

            &:after {
                content: " руб.";
                color: $GRAY_6;
                font-size: 0.75em;
            }
        }
    }
}
