@use "@styles/media";
@use "@styles/constants" as *;

.event-item {
    background: $WHITE;
    box-shadow: 0px 4px 4px rgba($BLACK, 0.25);
    border-radius: 0.5rem;
    font-size: 14px;

    @include media.lg {
        display: flex;
        font-size: 16px;
    }

    &__image-wrapper {
        overflow: hidden;
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
        @include media.lg {
            max-width: 300px;
            flex: 1 0 300px;
            border-top-right-radius: 0;
            border-bottom-left-radius: 0.5rem;
        }
    }

    &__image {
        max-width: 100%;
        width: 100%;
        display: block;
        object-fit: cover;

        @include media.lg {
            height: 100%;
        }
    }

    &__content {
        padding: 0.5rem 0.75rem;
        color: $GRAY_1;

        @include media.lg {
            flex-grow: 1;
            padding: 0.75rem 1rem;
        }
    }

    &__order {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        border-top: 1px dashed #eeeeee;

        @include media.lg {
            max-width: 300px;
            flex: 1 0 300px;
            border-top: 0;
            border-left: 1px dashed #eeeeee;
            flex-direction: column;
            align-items: stretch;
        }
    }

    &__date-desktop {
        display: none;
        @include media.lg {
            display: block;
        }
    }

    &__date-mobile {
        display: block;
        @include media.lg {
            display: none;
        }
    }

    &__order-button {
        display: inline-block;
        background-color: $RED;
        border-radius: 0.25rem;
        text-align: center;
        color: $WHITE;
        padding: 0.5rem 1rem;
        font-weight: 600;

        @include media.lg {
            align-self: center;
            margin-top: auto;
        }
    }

    &__line {
        display: block;
        margin: 0.5rem 0;
        height: 32px;

        &_price {
            @include media.lg {
                display: none;
            }
        }

        &_desktop {
            display: none;

            @include media.lg {
                display: block;
                margin: 0.25rem 0;
            }
        }
    }

    &__line-value {
        font-weight: 600;
    }

    &__order-title {
        display: none;

        @include media.lg {
            display: block;
            text-align: center;
            font-weight: 600;
            font-size: 20px;
            color: #4a4a4a;
            margin-bottom: 1rem;
        }
    }

    &__price {
        color: $RED;
        font-weight: 700;
        font-size: 16px;
        &:after {
            content: " руб.";
            color: $GRAY_6;
            font-size: 0.75em;
        }

        &_old {
            color: $GRAY_6;
            font-size: 14px;
            margin-left: 0.25rem;
        }
    }

    &__order-price {
        display: none;

        @include media.lg {
            display: inline-block;
            color: $RED;
            font-weight: 700;
            margin-bottom: 1rem;
            font-size: 24px;

            &:after {
                content: " руб.";
                color: $GRAY_6;
                font-size: 0.75em;
            }

            &_old {
                color: $GRAY_6;
                margin-top: -1rem;
                font-size: 18px;
                &:after {
                    text-decoration: none;
                }
            }
        }
    }
}
