@import "./../../common/mixins";

.step-checkout {
	padding: 20px 12px 32px;

	@include md {
		padding: 24px 32px 32px;
	}

	&__title {
		text-transform: uppercase;
		font-size: 20px;
		margin-bottom: 1rem;
		text-align: center;
		font-weight: bold;
	}

	&__item {
		color: $GRAY_2;
		margin-bottom: 1rem;
		padding-bottom: 1rem;
		border-bottom: 1px solid $GRAY;

		&:before {
			content: attr(data-label);
			margin-right: 0.5rem;
			font-size: 14px;
			color: $GRAY_4;
			text-transform: uppercase;
		}

		&:after {
			content: attr(data-help);
			display: block;
			margin-top: 2px;
			font-size: 12px;
			color: $GRAY_6;
		}

		&:last-child {
			border-bottom: none;
			padding-bottom: 0;
		}
	}

	&__payment{
		display: block;
		padding: 1rem 0;
		border-top: 1px solid $GRAY;
	}
}
