<template>
    <div class="step-checkout">
        <div class="step-checkout__body">
            <h3 class="step-checkout__title">Ваш заказ</h3>
            <p class="step-checkout__item" data-label="Домик:">{calendar.name}</p>
            <p class="step-checkout__item" data-label="Количество человек:">{peopleCount}</p>
            <p class="step-checkout__item" data-label="Количество детей без спальных мест:">{childCount}</p>
            <p if:true={settings.total.baby_bed} class="step-checkout__item" data-label="Детская кроватка:">Да</p>
            <p if:true={settings.total.bath_house_black} class="step-checkout__item" data-label="Количество сеансов бани по-черному:">
                {settings.total.bath_house_black.count}
            </p>
            <p if:true={settings.total.bath_house_white} class="step-checkout__item" data-label="Количество сеансов бани по-белому:">
                {settings.total.bath_house_white.count}
            </p>
            <p if:true={settings.smallAnimalCount} class="step-checkout__item" data-label="Кошки и собаки мелких пород (высота в холке до 40 см):">
                {settings.smallAnimalCount}
            </p>
            <p if:true={settings.smallAnimalCount} class="step-checkout__item" data-label="Собаки крупных пород (высота в холке более 40 см):">
                {settings.bigAnimalCount}
            </p>

            <p if:true={settings.foodBreakfast} class="step-checkout__item" data-label="Завтраки:">{settings.foodBreakfast}</p>
            <p if:true={settings.foodLunch} class="step-checkout__item" data-label="Обеды:">{settings.foodLunch}</p>
            <p if:true={settings.foodDinner} class="step-checkout__item" data-label="Ужины:">{settings.foodDinner}</p>

            <p class="step-checkout__item" data-label="Дата заезда:">{dateStart}</p>
            <p class="step-checkout__item" data-label="Дата выезда:">{dateEnd}</p>
            <p class="step-checkout__item" data-label="ФИО:">{settings.fio}</p>
            <p class="step-checkout__item" data-label="Телефон:">{settings.phone}</p>
            <p class="step-checkout__item" data-label="E-mail:">{settings.email}</p>
            <p class="step-checkout__item" data-label="Паспорт:" data-help="Личный (идентификационный) номер паспорта">{passport}</p>
            <p class="step-checkout__item" data-label="Комментарий:">{comment}</p>
        </div>
        <z-payment-methods if:true={isPayment} class="step-checkout__payment" settings={settings}></z-payment-methods>
        <z-total-price if:true={settings.admin} settings={settings}></z-total-price>

        <z-step-button-navigation
            if:true={isPayment}
            is-back-button-need
            error={settings.bookingErrorMessage}
            onback={backButtonHandler}
            onnext={bookingPay}
            settings={settings}
            next-title={buttonTitle}></z-step-button-navigation>

        <z-step-button-navigation
            if:false={isPayment}
            is-back-button-need
            error={settings.bookingErrorMessage}
            onback={backButtonHandler}
            onnext={bookingHandler}
            settings={settings}
            next-title="Забронировать"></z-step-button-navigation>
    </div>
</template>
