<template>
   <div class="step-checkout">
      <div class="step-checkout__body">
         <h3 class="step-checkout__title">Ваш заказ</h3>
         <p class="step-checkout__item"
            data-label="Домик:">{calendar.name}</p>
         <p class="step-checkout__item"
            data-label="Количество человек:">
            {peopleCount}</p>
         <p class="step-checkout__item"
            data-label="Количество детей без спальных мест:">
            {childCount}</p>
         <p class="step-checkout__item"
            data-label="Дата заезда:">{dateStart}</p>
         <p class="step-checkout__item"
            data-label="Дата выезда:">{dateEnd}</p>

         <p class="step-checkout__item"
            data-label="ФИО:">{settings.fio}</p>
         <p class="step-checkout__item"
            data-label="Телефон:">{settings.phone}</p>
         <p class="step-checkout__item"
            data-label="E-mail:">{settings.email}</p>
         <p class="step-checkout__item"
            data-label="Паспорт:"
            data-help="Личный (идентификационный) номер паспорта">{passport}</p>
         <p class="step-checkout__item"
            data-label="Комментарий:">{comment}</p>
      </div>
      <z-payment-methods if:true={settings.payment} class="step-checkout__payment" settings={settings}></z-payment-methods>
      <z-total-price if:true={settings.admin} settings={settings}></z-total-price>
      
      <z-step-button-navigation if:true={settings.payment} 
                                is-back-button-need
                                error={settings.bookingErrorMessage}
                                onback={backButtonHandler}
                                onnext={bookingPay}
                                next-title={buttonTitle}></z-step-button-navigation>

      <z-step-button-navigation if:false={settings.payment} 
                                is-back-button-need
                                error={settings.bookingErrorMessage}
                                onback={backButtonHandler}
                                onnext={bookingHandler}
                                next-title="Забронировать"></z-step-button-navigation>
   </div>
</template>