.decoding-price {

	&__item, 
	&__description {
		display: block;
		margin-top: 32px;
	}

	&__item:first-child {
		margin-top: 0px;
	}

	&__sale {
		color: #80828a;
		font-size: 12px;
		display: block;
		font-weight: 300;
	}

	&__number {
		font-weight: 700;
		margin-right: 4px;
	}

	&__percent {
		font-weight: 700;
		color: #ed123d;
	}

	&__final-sum {
		font-size: 16px;
		font-weight: 300;
		color: #212e35;
		display: inline;
	}

	&__total-number {
		margin-left: 4px;
	}
    &__baby-bed{
        font-size: 16px;
        font-weight: 300;
        color: #80828a;
        margin-top: 1rem;
    }

    &__baby-bed-title{
        margin-right: 0.25rem;
    }
}
