<template>
	<div class="decoding-price">
		<div class="decoding-price__list">
			<template for:each={seasons} for:item="season">
				<div key={season.season_id} class="decoding-price__item">
					<div class="decoding-price__item-header">
						<div class="decoding-price__item-title">{season.price_block.title}</div>
					</div>
					<div class="decoding-price__item-sum">
						<template if:true={season.price_block.people_sale}><span class="decoding-price__sign">(</span></template>
						<template if:false={season.price_block.people_sale}>
							<template if:true={season.price_block.days_sale}><span class="decoding-price__sign">(</span></template>
						</template>
						<z-number-value num={season.price_block.base_price} value="руб"></z-number-value> 
						<template if:true={season.price_block.people_sale}>
							<span class="decoding-price__sign">-</span><z-number-value num={season.price_block.people_sale} value="%"></z-number-value>
						</template>
						<template if:true={season.price_block.days_sale}>
							<span class="decoding-price__sign">-</span> <z-number-value num={season.price_block.days_sale} value="%"></z-number-value>
						</template>
						<template if:true={season.price_block.people_sale}><span class="decoding-price__sign">)</span></template>
						<template if:false={season.price_block.people_sale}>
							<template if:true={season.price_block.days_sale}><span class="decoding-price__sign">)</span></template>
						</template>
						<span class="decoding-price__sign">*</span><z-number-value num={season.price_block.days_count} value="ночь"></z-number-value> 
						<template if:true={season.price_block.base_people_count}>
							<span class="decoding-price__sign">*</span><z-number-value num={season.price_block.base_people_count} value="чел"></z-number-value> 
					    </template>
						<span class="decoding-price__sign">=</span><z-number-value num={season.price_block.total} value="руб"></z-number-value>
					</div>
					<span if:true={season.price_block.people_sale_next} class="decoding-price__item-sale">При выборе от <span
							  class="decoding-price__item-number">{season.price_block.people_sale_next.people}</span>
						человек ваша скидка будет <span class="decoding-price__item-percent">-{season.price_block.people_sale_next.sale}%</span></span>
				</div>
			</template>
		</div>
		<div class="decoding-price__description ">
			<div class="decoding-price__final-sum">Итоговая стоимость:<span
					  class="decoding-price__total-number number-value"
					  data-after="руб">{settings.total.total_price}</span>
			</div>
			<span if:true={settings.total.day_sale_next} class="decoding-price__sale">При выборе от <span
					  class="decoding-price__number">{settings.total.day_sale_next.dayesNumber}</span> дней, ваша скидка будет <span
					  class="decoding-price__percent">-{settings.total.day_sale_next.sale}%</span>
			</span>
		</div>
	</div>
</template>