<template>
	<div class="decoding-price">
		<div class="decoding-price__list">
			<div class="decoding-price__item">
				<div class="decoding-price__item-header">
					<div class="decoding-price__item-date">02.04.2021 - 06.04.2021</div>
					<div class="decoding-price__item-title">цены на отдых на предсезонный период</div>
				</div>
				<div class="decoding-price__item-sum">(
					<z-number-value num="30"
                                value="руб"></z-number-value> - <z-number-value num="12"
                                value="%"></z-number-value> - <z-number-value num="10"
                                value="%"></z-number-value>) * <z-number-value num="4"
                                value="ночь"></z-number-value> * <z-number-value num="5"
                                value="чел"></z-number-value> = <z-number-value num="468"
                                value="руб"></z-number-value>
				</div>
				<span class="decoding-price__item-sale">При выборе от <span
						  class="decoding-price__item-number">6</span>
					человек ваша скидка будет <span class="decoding-price__item-percent">-15%</span></span>
			</div>
			<div class="decoding-price__item">
				<div class="decoding-price__item-header">
					<div class="decoding-price__item-date">06.04.2021 - 08.04.2021</div>
					<div class="decoding-price__item-title">выходные дни</div>
				</div>
				<div class="decoding-price__item-sum">(<z-number-value num="35"
					value="руб"></z-number-value> - <z-number-value num="9"
					value="%"></z-number-value> - <z-number-value num="10"
					value="%"></z-number-value>) * <z-number-value num="2"
					value="ночь"></z-number-value> * <z-number-value num="5"
					value="чел"></z-number-value> = <z-number-value num="283,5"
					value="руб"></z-number-value>
				</div>
				<span class="decoding-price__item-sale">При выборе от <span
						  class="decoding-price__item-number">7</span>
					человек ваша скидка будет <span class="decoding-price__item-percent">-10%</span></span>
			</div>
		</div>
		<div class="decoding-price__description ">
			<div class="decoding-price__final-sum">Итоговая стоимость:<span
					  class="decoding-price__total-number number-value"
					  data-after="руб">752</span>
			</div>
			<span class="decoding-price__sale">При выборе от <span
					  class="decoding-price__number">11</span> человек ваша скидка будет <span
					  class="decoding-price__percent">-12%</span>
			</span>
		</div>
	</div>
</template>