@use "@styles/media";
@use "@styles/constants" as *;

.footer-bottom {
    background-color: $PRIMARY_10;
    color: $WHITE;

    &__content {
        display: flex;
        flex-direction: column;
        text-align: center;

        @include media.sm {
            flex-direction: row;
            justify-content: space-between;
            text-align: initial;
            align-items: center;
        }
    }

    &__logo {
        width: 80px;
        object-fit: cover;
    }

    &__socials {
        display: flex;
        align-items: center;
        justify-content: center;

        @include media.sm {
            justify-content: flex-start;
        }
    }

    &__socials-item {
        @include media.sm {
            &:first-child {
                padding-left: 0;
            }
        }
    }

    &__social-icon {
        max-width: 1.75rem;
        height: 36px;
        object-fit: contain;

        @include media.sm {
            height: 20px;
        }
    }

    &__socials-text {
        font-size: 13px;
    }

    &__right-side {
        font-size: 13px;

        @include media.sm {
            text-align: right;
        }
    }

    &__left-side {
        @include media.sm {
            display: flex;
            align-items: center;
        }
    }

    &__phone {
        color: $WHITE;
        font-size: 16px;
        text-align: center;
        font-weight: 600;
    }

    &__payments {
        display: block;
        background-color: #fff;
        width: 100%;
        object-fit: contain;
        padding: 0.5rem;

        @include media.sm {
            margin-left: 20%;
            width: 60%;
        }
    }
}
