mixin header()
    header.header
        .header__top
            .container
                .header__top-inner
                    .socials
                    .burger
                        span
                        span
                    .contacts
                        a.contacts__item(href="tel:+375292228338")
                            i.fas.fa-phone-square
                            span +375(29)222-83-38
                        a.contacts__item(href="mailto:zankoav@gmail.com")
                            i.fas.fa-envelope-square
                            span zankoav@gmail.com

        .header__bottom
            .container
                .header__bottom-inner
                    .header__logo
                        a.header__bottom-inner-logo-link(href="/")
                            i z
                            i a
                            i n
                            i k
                            i o
                            i a
                            i v
                            i.red
                            i c
                            i o
                            i m
                        small time is money
                    nav.menu.menu_active
                        ul.menu__inner
                            li.menu__item
                                a(href="#") Portfolio
                            li.menu__item.menu__item_active
                                a(href="#") Our Team
                            li.menu__item
                                a(href="#") About Us
                            li.menu__item
                                a(href="#") Contacts
