.header-taplink {
    position: relative;
    margin-bottom: 2.5rem;

    &__slide {
        position: absolute;
        top: 0;
        width: 100vw;
        height: 100%;
    }

    &__slide-img-wrapper {
        position: relative;
        overflow: hidden;
        display: flex;
        height: 100%;
    }

    canvas {
        display: block;
        width: 100%;
        transform: rotate(180deg);
    }

    &__main {
        position: relative;
        z-index: 2;
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
        padding: 1.5rem 0 3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        width: 68px;
        height: auto;
    }

    &__contacts {
        position: relative;
    }

    &__navigation-phone-icon {
        width: 40px;
    }

    &__navigation-phone-icon {
        animation: contact-button 2s linear infinite;
    }

    &__navigation-phone-button {
        display: flex;
    }
}

@keyframes contact-button {
    0%,
    40%,
    50%,
    60%,
    to {
        transform: scale(1) rotate(0);
    }
    45% {
        transform: scale(1.1) rotate(-20deg);
    }
    55% {
        transform: scale(1.1) rotate(-20deg);
    }
}
