@use "@styles/constants";

.app {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-color: constants.$GRAY;

    &__footer {
        flex: 0 0 auto;
    }

    &__header {
        flex: 0 0 auto;
    }

    &__main {
        flex: 1;
    }
}
