<template>
    <template if:true={isLoading}>
        <z-spinner text="sending..."></z-spinner>
    </template>
    <template if:false={isLoading}>
        <form class="login-form">
            <h3 class="login-form__title">Login Form</h3>
            <div class="login-form__wrapper">
                <div class="login-form__group">
                    <label for="username"
                           class="login-form__label">Username</label>
                    <input id="username"
                           type="text"
                           class="login-form__input login-form__input_username">
                </div>
                <div class="login-form__group">
                    <label for="password"
                           class="login-form__label">Password</label>
                    <input id="password"
                           type="password"
                           class="login-form__input login-form__input_password">
                </div>
                <div class="login-form__group">
                    <a href="javascript:void(0);"
                       onclick={loginPressed}
                       class="button button_success">Login</a>
                </div>
            </div>
            <p class="login-form__message">{formMessage}</p>
        </form>
    </template>
</template>