@import "../../common/constants";

.partners {
    margin-bottom: 3rem;

    @include sm {
        margin-bottom: 5rem;
    }

    &__logo {
        max-height: 70px;
        opacity: 0.5;
        color: #fff;
        transition: all .3s;
        filter: grayscale(1);

        &:hover {
            opacity: 1;
            filter: grayscale(0);
        }
    }

    &__wrapper {
        align-items: center;
    }

    &__slide {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
