<template>
    <div class="step-house">
        <div class="step-house__body">
            <z-loader if:true={loading}></z-loader>
            <template if:false={loading}>
                <z-select if:false={settings.house} class="step-house__select"
                          required
                          label="Выберите Домик"
                          onchange={calendarChange}
                          options={settings.calendars}></z-select>
                <template if:true={settings.house}>

                    <div class="step-house__row">
                        <div class="step-house__col">
                            <z-select class="step-house__select step-house__calendars"
                                    required
                                    label="Домик"
                                    onchange={calendarChange}
                                    options={settings.calendars}></z-select>
        
                            <z-select class="step-house__select step-house__counts"
                                    required
                                    label="Количество человек"
                                    onchange={countChange}
                                    options={settings.counts}></z-select>
        
                            <z-select class="step-house__select"
                                    label="Детей без спального места"
                                    onchange={childCountChange}
                                    options={settings.childCounts}></z-select>
        
                            <div class="step-house__booking">
                                <img src={bookingImg}
                                        alt="booking img"
                                        class="step-house__booking-icon">
                                <div class="step-house__booking-dates">
                                    <div class="step-house__booking-from"
                                            data-date="Дата заезда:">{dateStart}</div>
                                    <div class="step-house__booking-from"
                                            data-date="Дата выезда:">{dateEnd}</div>
                                </div>
                            </div>
                        </div>
                        <div class="step-house__col">
                            <z-calendar settings={settings}></z-calendar>
                        </div>
                    </div>

                    <div class="step-house__delimeter"></div>

                    <div class="step-house__row">
                        <div class="step-house__col">
                            <z-house-info settings={settings} ></z-house-info>
                        </div>
                        <div class="step-house__col"></div>
                    </div>

                
                    <!-- <div class="step-house__wrapper">
                        <img src={settings.house.picture}
                             alt={settings.house.title}
                             class="step-house__img">
                        <div class="step-house__content">
                            <h3 class="step-house__title">{settings.house.title}</h3>
                            <div class="step-house__group">
                                <img class="step-house__max-people"
                                     src="https://krasnagorka.by/wp-content/themes/krasnagorka/mastak/assets/icons/teamwork.svg"
                                     alt="team">
                            </div>
                            <div class="step-house__group">
                                <img class="step-house__max-people"
                                     src="https://krasnagorka.by/wp-content/themes/krasnagorka/mastak/assets/icons/child.svg"
                                     alt="team">
                            </div>
                        </div>
                    </div> -->
                </template>
            </template>
        </div>
        <z-step-button-navigation if:true={settings.house} error={error}
                                  onnext={nextButtonHandler}></z-step-button-navigation>
    </div>
</template>