@import "./../../../common/mixins";

@include editor();

.event-app {
    &__item {
        display: block;
        margin-bottom: 1rem;

        &:last-child {
            margin-bottom: 0;
        }
    }
}
