@use "@styles/constants";

@include constants.editor();

.event-app {
    &__item {
        display: block;
        margin-bottom: 1rem;

        &:last-child {
            margin-bottom: 0;
        }
    }
}
