<template>
    <div class="decoding-price-line">
        <div class="decoding-price-line__item-header">
            <div class="decoding-price-line__item-title">{season.price_block.title}</div>
        </div>
        <div class="decoding-price-line__item-sum">
            <template if:true={needBreakets}><span class="decoding-price-line__sign decoding-price-line__sign_ml_none">(</span></template>

            <z-price-view price={price}></z-price-view>

            <template if:true={season.price_block.base_price_without_upper}>
                <span class="decoding-price-line__sign">+</span><z-number-value num={season.price_block.min_percent} value="%"></z-number-value>
            </template>

            <template if:true={season.price_block.people_sale}>
                <span class="decoding-price-line__sign">-</span><z-number-value num={season.price_block.people_sale} value="%"></z-number-value>
            </template>

            <template if:true={season.price_block.days_sale}>
                <span class="decoding-price-line__sign">-</span> <z-number-value num={season.price_block.days_sale} value="%"></z-number-value>
            </template>

            <template if:true={needBreakets}><span class="decoding-price-line__sign">)</span></template>

            <span class="decoding-price-line__sign">*</span><z-number-value num={season.price_block.days_count} value="ночь"></z-number-value>

            <template if:true={season.price_block.base_people_count}>
                <span class="decoding-price-line__sign">*</span
                ><z-number-value num={season.price_block.base_people_count} value="чел"></z-number-value>
            </template>

            <span class="decoding-price-line__sign">=</span><z-price-view price={priceBlockTotal}></z-price-view>
        </div>
        <span if:true={season.price_block.people_sale_next} class="decoding-price-line__item-sale"
            >При выборе от <span class="decoding-price-line__item-number">{season.price_block.people_sale_next.people}</span> человек можно получить
            дополнительную скидку <span class="decoding-price-line__item-percent">-{season.price_block.people_sale_next.sale}%</span></span
        >

        <div if:true={season.price_block.small_animals_total} class="decoding-price-line__item-sum">
            <template if:true={season.price_block.days_sale}
                ><span class="decoding-price-line__sign decoding-price-line__sign_ml_none">(</span></template
            >

            <z-price-view price={priceBlockSmallAnimalsPrice}></z-price-view>

            <template if:true={season.price_block.days_sale}>
                <span class="decoding-price-line__sign">-</span> <z-number-value num={season.price_block.days_sale} value="%"></z-number-value>
            </template>

            <template if:true={season.price_block.days_sale}><span class="decoding-price-line__sign">)</span></template>

            <span class="decoding-price-line__sign">*</span><z-number-value num={season.price_block.days_count} value="ночь"></z-number-value>
            <span class="decoding-price-line__sign">*</span
            ><z-number-value num={season.price_block.small_animals_count} value="мелких животных"></z-number-value>

            <span class="decoding-price-line__sign">=</span><z-price-view price={priceBlockSmallAnimalsTotalPrice}></z-price-view>
        </div>

        <div if:true={season.price_block.big_animals_total} class="decoding-price-line__item-sum">
            <template if:true={season.price_block.days_sale}
                ><span class="decoding-price-line__sign decoding-price-line__sign_ml_none">(</span></template
            >

            <z-price-view price={priceBlockBigAnimalsPrice}></z-price-view>

            <template if:true={season.price_block.days_sale}>
                <span class="decoding-price-line__sign">-</span> <z-number-value num={season.price_block.days_sale} value="%"></z-number-value>
            </template>

            <template if:true={season.price_block.days_sale}><span class="decoding-price-line__sign">)</span></template>

            <span class="decoding-price-line__sign">*</span><z-number-value num={season.price_block.days_count} value="ночь"></z-number-value>
            <span class="decoding-price-line__sign">*</span
            ><z-number-value num={season.price_block.big_animals_count} value="крупных животных"></z-number-value>

            <span class="decoding-price-line__sign">=</span>
            <z-price-view price={priceBlockBigAnimalsTotalPrice}></z-price-view>
        </div>
    </div>
</template>
