@use "@styles/media";
@use "@styles/constants" as *;

.step-house {
    padding: 20px 12px 32px;

    @include media.md {
        padding: 24px 32px 32px;
    }

    &__body {
        padding-bottom: 1rem;
        min-height: 100px;

        @include media.sm {
            padding-bottom: 1.5rem;
        }
    }
}
