@import './../../common/mixins';

.widgets {
    display: flex;
    flex-direction: column;

    @include sm{
        flex-direction: row;
        justify-content: space-between;
    }

    &__left{
        flex : 1;
        display : flex;
        justify-content : space-between;
        align-items : center;

        @include sm{
            flex : initial;
        }
    }
}