@use "@styles/media";
@use "@styles/constants" as *;

.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: $WHITE;
    min-height: 200px;
    height: 100%;
    width: 100%;

    &_inverse {
        background-color: transparent;

        .loader__spinner {
            border-color: $WHITE transparent $WHITE $WHITE;
        }

        .loader__message {
            color: $WHITE;
        }
    }

    &__spinner {
        display: inline-block;
        width: 36px;
        height: 36px;
        opacity: 0;
        border-radius: 50%;
        border-width: 3px;
        border-style: solid;
        border-color: $GRAY_6 transparent $GRAY_6 $GRAY_6;
        animation:
            rotate 0.8s linear infinite,
            fadeSpinner 0.3s 0.3s linear forwards;

        @include media.sm {
            width: 48px;
            height: 48px;
            border-width: 4px;
        }
    }

    &__message {
        margin-top: 1rem;
        font-size: 16px;
        text-align: center;
        color: $GRAY_6;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes fadeSpinner {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
