<template>
    <div class="step-additional-services">
        <div class="step-additional-services__body">
            <div if:true={showBabyBedService} class="step-additional-services__group step-additional-services__group_checkbox">
                <input
                    id="babyBed"
                    type="checkbox"
                    onchange={changeBabyBadHandler}
                    checked={settings.babyBed}
                    class="step-additional-services__input step-additional-services__input_left"
                    name="babyBed" />
                <label for="babyBed" class="step-additional-services__label">
                    {babyBedLabel}
                    <div class="step-additional-services__label-warning">
                        Внимание! При изменении дат бронирования, эта услуга может быть недоступна
                    </div>
                </label>
            </div>
            <template if:true={showBathHouses}>
                <div if:true={settings.bathHouseBlackPrice} class="step-additional-services__container">
                    <div class="step-additional-services__group step-additional-services__group_checkbox">
                        <input
                            id="bathHouseBlack"
                            type="checkbox"
                            onchange={changeBathHouseBlackPriceHandler}
                            checked={bathHouseBlack}
                            class="step-additional-services__input step-additional-services__input_left"
                            name="bathHouseBlack" />
                        <label for="bathHouseBlack" class="step-additional-services__label">{bathHouseBlackLabel}</label>
                    </div>
                    <z-select
                        if:true={settings.bathHouseBlack}
                        data-name="bathHouseBlack"
                        label="Количество сеансов"
                        onchange={seansChange}
                        options={seansBlackOptions}></z-select>
                </div>
                <div if:true={settings.bathHouseWhitePrice} class="step-additional-services__container">
                    <div class="step-additional-services__group step-additional-services__group_checkbox">
                        <input
                            id="bathHouseWhite"
                            type="checkbox"
                            onchange={changeBathHouseWhitePriceHandler}
                            checked={bathHouseWhite}
                            class="step-additional-services__input step-additional-services__input_left"
                            name="bathHouseWhite" />
                        <label for="bathHouseWhite" class="step-additional-services__label">{bathHouseWhiteLabel}</label>
                    </div>
                    <z-select
                        if:true={settings.bathHouseWhite}
                        data-name="bathHouseWhite"
                        label="Количество сеансов"
                        onchange={seansChange}
                        options={seansWhiteOptions}></z-select>
                </div>
            </template>

            <div if:true={showAnimalsService} class="step-additional-services__container">
                <div class="step-additional-services__group step-additional-services__group_checkbox">
                    <input
                        id="animalsShow"
                        type="checkbox"
                        onchange={changeAnimalsViewHandler}
                        checked={settings.animalsShow}
                        class="step-additional-services__input step-additional-services__input_left"
                        name="animalsShow" />
                    <label for="animalsShow" class="step-additional-services__label">{animalsLabel}</label>
                </div>
                <template if:true={settings.animalsShow}>
                    <z-select
                        data-name="smallAnimalCount"
                        label="Кошки и собаки мелких пород (высота в холке до 40 см)"
                        onchange={animalsChange}
                        options={smallAnimalOptions}></z-select>
                    <z-select
                        class="step-additional-services__select step-additional-services__select_bottom"
                        data-name="bigAnimalCount"
                        label="Собаки крупных пород (высота в холке более 40 см)"
                        onchange={animalsChange}
                        options={bigAnimalOptions}></z-select>
                </template>
                <div if:true={showBathHouses} class="step-additional-services__help-text">
                    При заказе бани обязательно укажите дату и желаемое время в комментарии на шаге "Контакты". Количество сеансов в день ограничено.
                </div>
            </div>
        </div>
        <z-total-price if:true={settings.admin} settings={settings}></z-total-price>
        <z-step-button-navigation
            onback={backButtonHandler}
            onnext={nextButtonHandler}
            error={error}
            settings={settings}
            is-back-button-need></z-step-button-navigation>
    </div>
</template>
