
include ./mastak-lib/mixins
include ./components/header/header
include ./components/footer/footer
include ./components/coockie/coockie
include ./components/partners/partners
include ./components/title/title
include ./components/contact-form/contact-form
include ./components/latest-projects/latest-projects
include ./components/project-cart/project-cart
include ./components/welcome/welcome
include ./components/breadcrumbs/breadcrumbs
include ./components/menu-left/menu-left
include ./components/worker/worker
