//COLOR:
$BLACK: #000000;
$BLACK_05: rgba(#000000, .5);
$BLACK_07: rgba(#000000, .7);
$WHITE: #FFFFFF;

$DARK: #101010;
$GRAY: #4c4c4c;
$GRAY_LIGHT: #70777f;
$GRAY_LIGHT_1: #8d9bb0;
$GRAY_LIGHT_2: #c3cfd7;
$GRAY_LIGHT_3: #d6e3eb;
$LIGHT: #f8f8f8;

$PRIMARY: #9C2434;
$PRIMARY_05: rgba(#9C2434, .5);
$BLUE_DARK: #205A73;
$BLUE_DARK_2: #2d7595;
$BLUE: #348CA2;
$BLUE_LIGHT: #4DA6AF;
$BLUE_LIGHT_2: #A1D7CC;
$SAND: #EADFD1;


//MIXINS
@import "./../mastak-lib/mixins";