mixin weather
	.weather
		.weather__today(data-description='Туман вечером и ночью.')
			img.weather__today-img(src='https://darksky.net/images/weather-icons/fog.png', alt='sunny')
		.weather__today-degree 2
		.weather__day(data-day='пт')
			img.weather__day-img(src='https://darksky.net/images/weather-icons/rain.png', alt='rain')
		.weather__day(data-day='сб')
			img.weather__day-img(src='https://darksky.net/images/weather-icons/rain.png', alt='rain')
		.weather__day(data-day='вс')
			img.weather__day-img(src='https://darksky.net/images/weather-icons/snow.png', alt='snow')