@import "./../../common/mixins";

.radio-button {
	cursor: pointer;
	font-size: 12px;
	font-weight: 600;
	padding: 6px;
	color: $GRAY_7;
	transition: all .3s ease-out;
	display: flex;
	align-items: center;
	justify-content: center;

	@include sm{
		font-size: 14px;
	};

	&__circle{
		margin-right: 0.5rem;
		height: 16px;
		width: 16px;
		border: 1px solid $GRAY_8;
		border-radius: 100%;
		display: flex;
		align-items: center;
		justify-content: center;

		&_selected{
			border-color: $PRIMARY;

			&::after{
				content: '';
				display: block;
				border-radius: 100%;
				height: 8px;
				width: 8px;
				background-color: $PRIMARY;
			}
		}
	}

	&__label{
		margin-top: 1px;
	}

	&_selected{
		color: $PRIMARY;
	}
}
