//- Mixins here
include ./../desktop/header/header
include ./../desktop/slider/slider
include ./../desktop/slide/slide
include ./../desktop/headerWidgets/headerWidgets
include ./../desktop/button/button
include ./../desktop/video/video
include ./../desktop/contacts/contacts
include ./../desktop/today/today
include ./../desktop/weather/weather
include ./../desktop/currencies/currencies
include ./../desktop/menu/menu
