@import "../../common/constants";
@import './../../../node_modules/fancybox/dist/css/jquery.fancybox.css';

.project {

    margin-bottom : 2rem;

    &__breadcrumbs {
        margin-top : 1rem;
    }

    &__title {
        margin-top : 1rem;

        @include sm {
            margin-top : 1rem;
        }

        @include md {
            margin-top : 1.5rem;
        }

        @include lg {
            margin-top : 1rem;
        }
    }

    &__row {
        max-width : initial;
        margin    : 1rem -1rem 0;
        display   : flex;
        flex-wrap : wrap;

        @include lg {
            margin : 2rem -2rem 0;
        }
    }

    &__col {
        position  : relative;
        padding   : 0 1rem 1rem;
        max-width : 100%;
        flex      : 1 0 100%;

        @include md {
            padding   : 0 1rem 1rem;
            max-width : 50%;
            flex      : 1 0 50%;
        }

        @include lg {
            padding : 0 2rem 3rem;
        }
    }

    &__editor {
        color       : $GRAY_LIGHT;
        line-height : 1.5;
    }

    &__item {
        color      : $GRAY_LIGHT;
        transition : .4s;

        &_link {
            text-decoration : underline;
            &:hover {
                color : $PRIMARY;
            }
        }

        &:after {
            content : ',';
        }

        &:last-child {
            &:after {
                content : none;
            }
        }
    }

    &__section {
        color         : $GRAY_LIGHT;
        margin-bottom : 1rem;
        display       : flex;
        line-height   : 1.5;
        flex-wrap     : wrap;

        @include sm {
            flex-wrap : nowrap;
        }

        &:before {
            content        : attr(data-val);
            color          : $BLUE;
            text-transform : uppercase;
            font-weight    : 500;
            display        : inline-block;
            min-width      : 180px;
        }

        &_clear {
            justify-content : center;

            @include md {
                justify-content : initial;
            }

            &:before {
                content : none;
            }
        }

        &_spent {
            &:after {
                content : attr(data-spent);
            }
        }
    }

    &__inner {
        display   : flex;
        flex-wrap : wrap;

        &_center {
            align-items : center;
        }
    }

    &__pagination {

        .swiper-pagination-bullet-active {
            background-color : $PRIMARY;
        }

        .swiper-pagination-bullet {
            border-radius : 0;

            &:focus {
                outline : none;
            }
        }
    }

    &__next, &__prev {
        transform     : translateY(-1.5rem);
        width         : 36px;
        height        : 36px;
        border-radius : 50%;
        box-shadow    : 0 2px 4px 0 rgba(0, 102, 176, 0.14);

        @include sm {
            width           : 40px;
            height          : 40px;
            background-size : 40px 40px;
        }

        @include lg {
            width           : 50px;
            height          : 50px;
            background-size : 50px 50px;
        }

        &:focus {
            outline : none;
        }
    }

    &__next {
        background      : url("./../../images/arrows/right.svg");
        background-size : cover;
    }

    &__prev {
        background      : url("./../../images/arrows/left.svg");
        background-size : cover;
    }

    &__fancybox {
        overflow : hidden;
        display  : block;
    }

    &__img {
        min-height : 100%;
        width      : 100%;
        height     : auto;
        display    : block;
        max-width  : initial;
    }

    &__swiper {
        max-width : initial;
        margin    : 0 -1rem;

        @include md {
            max-width : 100%;
            margin    : 0;
        }
    }

    &__swiper-wrapper {
        padding-bottom : 3rem;
    }

    &__fancy {
        .fancybox-close {
            border-radius   : 50%;
            background      : rgba(230, 232, 235, 1) url('./../../images/cancel.svg');
            background-size : contain;
            width           : 32px;
            height          : 32px;
            display         : inline-block;
        }

        .fancybox-next span {
            border-radius   : 50%;
            background      : rgba(230, 232, 235, 1) url('./../../images/swiper/right.svg');
            background-size : contain;
            width           : 32px;
            height          : 32px;
            display         : inline-block;
            transition      : opacity .4s;
            visibility      : initial;

            @include lg {
                opacity : 0;
            }
        }

        .fancybox-prev span {
            border-radius   : 50%;
            background      : rgba(230, 232, 235, 1) url('./../../images/swiper/left.svg');
            background-size : contain;
            width           : 32px;
            height          : 32px;
            display         : inline-block;
            transition      : opacity .4s;
            visibility      : initial;

            @include lg {
                opacity : 0;
            }
        }

        .fancybox-nav {
            &:hover {
                span {
                    opacity : 1;
                }
            }
        }
    }

    &__demo {
        padding          : .5rem 3rem;
        color            : $WHITE;
        letter-spacing   : 1px;
        font-weight      : bold;
        background-color : $BLUE_LIGHT;
        align-self       : center;
        transition       : .4s;
        border-radius    : 4px;
        margin-top       : 1rem;

        &:hover {
            background-color : $PRIMARY;
            box-shadow       : 0 2px 20px 0 rgba(156, 36, 52, .5);
        }
    }

}

.share-item {
    margin-right : .25rem;

    &:last-child {
        margin-right : 0;
    }

    i {
        color           : $BLUE;
        width           : 32px;
        height          : 32px;
        flex-shrink     : 0;
        display         : flex;
        justify-content : center;
        align-items     : center;
        margin-right    : 1rem;
        border-radius   : 50%;
        border          : 1px solid $BLUE;
    }

}
