@use "@styles/media";
@use "@styles/constants" as *;

.widgets {
    display: flex;
    flex-direction: column;

    @include media.sm {
        flex-direction: row;
        justify-content: space-between;
    }

    &__left {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;

        @include media.sm {
            flex: initial;
        }
    }
}
