include ./../mixins
doctype html
html
    +head()
    body(class="body_overflow_hidden")
        +loader('loader__spinner_egg')
        +coockie()
        .app
            +header()
            main.category
                .container
                    .category__breadcrumbs
                        +breadcrumbs("Main Page", "About Us","About MTBank")
                    .category__title
                        +title('Landings', 'h1', 'title_inner')
                    .category__content
                        .category__menu
                            +menu-left(
                            'All projects',
                            1,
                            'All projects',
                            'Landings',
                            'Blog',
                            'Shop'
                            )
                        .category__projects
                            .category__row
                                .category__col
                                    +project-cart(
                                    'https://avatars.mds.yandex.net/get-pdb/881477/aad96621-654c-474a-aeca-32fb93d81035/s600',
                                    'Molotok by MTBank',
                                    'Shop',
                                    '20.12.2019',
                                    '48')
                                .category__col
                                    +project-cart(
                                    'https://avatars.mds.yandex.net/get-pdb/881477/aad96621-654c-474a-aeca-32fb93d81035/s600',
                                    'Molotok by MTBank',
                                    'Shop',
                                    '20.12.2019',
                                    '48')
                                .category__col
                                    +project-cart(
                                    'https://avatars.mds.yandex.net/get-pdb/881477/aad96621-654c-474a-aeca-32fb93d81035/s600',
                                    'Molotok by MTBank',
                                    'Shop',
                                    '20.12.2019',
                                    '48')
                                .category__col
                                    +project-cart(
                                    'https://avatars.mds.yandex.net/get-pdb/881477/aad96621-654c-474a-aeca-32fb93d81035/s600',
                                    'Molotok by MTBank',
                                    'Shop',
                                    '20.12.2019',
                                    '48')
                                .category__col
                                    +project-cart(
                                    'https://avatars.mds.yandex.net/get-pdb/881477/aad96621-654c-474a-aeca-32fb93d81035/s600',
                                    'Molotok by MTBank',
                                    'Shop',
                                    '20.12.2019',
                                    '48')
                                .category__col
                                    +project-cart(
                                    'https://avatars.mds.yandex.net/get-pdb/881477/aad96621-654c-474a-aeca-32fb93d81035/s600',
                                    'Molotok by MTBank',
                                    'Shop',
                                    '20.12.2019',
                                    '48')
                                .category__col
                                    +project-cart(
                                    'https://avatars.mds.yandex.net/get-pdb/881477/aad96621-654c-474a-aeca-32fb93d81035/s600',
                                    'Molotok by MTBank',
                                    'Shop',
                                    '20.12.2019',
                                    '48')
                                .category__col
                                    +project-cart(
                                    'https://avatars.mds.yandex.net/get-pdb/881477/aad96621-654c-474a-aeca-32fb93d81035/s600',
                                    'Molotok by MTBank',
                                    'Shop',
                                    '20.12.2019',
                                    '48')
                                .category__col
                                    +project-cart(
                                    'https://avatars.mds.yandex.net/get-pdb/881477/aad96621-654c-474a-aeca-32fb93d81035/s600',
                                    'Molotok by MTBank',
                                    'Shop',
                                    '20.12.2019',
                                    '48')
                                .category__col
                                    +project-cart(
                                    'https://avatars.mds.yandex.net/get-pdb/881477/aad96621-654c-474a-aeca-32fb93d81035/s600',
                                    'Molotok by MTBank',
                                    'Shop',
                                    '20.12.2019',
                                    '48')
            +contactForm()
            +partners()
            +footer()