@import "./../../../common/mixins";

.payment-methods {
    &__title {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 16px;
        text-align: center;
        margin: 0.5rem 0 1rem;
    }

    &__label {
        margin-right: 0.5rem;
        font-size: 14px;
        color: $GRAY_4;
        text-transform: uppercase;

        @include sm {
            margin-bottom: 0;
            width: 140px;
        }
    }

    &__payment {
        &_mb_10 {
            margin-bottom: 1rem;
        }

        @include sm {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &__buttons {
        width: 360px;
    }

    &__text {
        margin: 1rem auto 0;
        max-width: 508px;
        font-size: 12px;
        color: #bbb;

        &:empty {
            display: none;
        }
    }
}
