<template>
    <div class={tableClass}
         onscroll={scrollTable}>
        <template if:true={columns}>
            <table>
                <thead>
                    <tr>
                        <th>#</th>
                        <template for:each={columns}
                                  for:item="item">
                            <th key={item.id}>{item.value}</th>
                        </template>
                    </tr>
                </thead>
                <tbody>
                    <template if:true={rows}>
                        <template for:each={rows}
                                  for:item="row">
                            <tr key={row.id}
                                data-validate={row.invalid}>
                                <td>{row.id}</td>
                                <template for:each={row.value}
                                          for:item="item">
                                    <td key={item.id}>{item.value}</td>
                                </template>
                            </tr>
                        </template>
                    </template>
                </tbody>
            </table>
        </template>
    </div>
</template>