@import "./../../common/constants";

.button{
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    color: $LIGHT;
    background-color: $PRIMARY;
    border-radius: 6px;
    width: 100%;
    padding: 1rem;
    text-align: center;
    cursor: pointer;
    box-shadow:0 2px 30px 0 rgba(198, 69, 85, 0);
    transition: box-shadow .6s;

    &:hover{
        box-shadow:0 2px 30px 0 rgba($PRIMARY, 0.5);
    }

    @include sm{
        font-size: 20px;
    }
}