@use "@styles/media";
@use "@styles/constants" as *;

.steps-navigator {
    overflow: hidden;
    max-width: 100%;
    background-color: $WHITE;
    position: relative;
    z-index: 1;

    &:before,
    &:after {
        content: "";
        position: absolute;
        height: 100%;
        width: 30px;
        top: 0;
        z-index: 2;
    }

    &:after {
        right: 0;
        background: linear-gradient(90deg, rgba($WHITE, 0) 0%, $WHITE 100%);
    }

    @include media.sm {
        &:before {
            left: 0;
            background: linear-gradient(90deg, $WHITE 0%, rgba($WHITE, 0) 100%);
        }
    }

    &__line {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: $GRAY_6;

        @include media.sm {
            bottom: 1px;
        }
    }

    &__wrapper {
        display: flex;
        transform: translate3d(0, 0, 0);
        user-select: none;
        position: relative;
        z-index: 1;
    }

    &__item {
        flex-shrink: 0;
        padding: 20px 12px 14px;
        border-bottom: 1px solid transparent;
        color: $GRAY_1;
        text-transform: uppercase;
        font-size: 11px;
        font-weight: 600;

        @include media.sm {
            border-bottom-width: 3px;
            padding: 20px 20px 14px;

            &:first-child {
                padding-left: 40px;
            }
        }

        &_available {
            cursor: pointer;
            color: $PRIMARY_3;
            border-bottom-color: $PRIMARY_2;
        }

        &_active {
            color: $GRAY_2;
            border-bottom-color: $RED;
        }
    }
}
