.price-view {
    font-weight: 700;
    font-size: 16px;

    &_red {
        color: #ed123d;
    }

    &_orange {
        color: #ed7c12;
    }

    &__penny {
        font-weight: 300;
        font-size: 12px;
    }

    &__delimeter {
        font-weight: 300;
    }

    &__currency {
        font-weight: 300;
        font-size: 12px;
        color: #b4afb5;
        margin-left: 4px;
    }
}
