<template>
    <div class="decoding-price">
        <div class="decoding-price__list">
            <div class="decoding-price__subtitle">{subTitle}</div>
            <template if:true={settings.eventTabId}>

            </template>
            <template if:false={settings.eventTabId}>
                <template for:each={seasons} for:item="season">
                    <z-decoding-price-line class="decoding-price__item" key={season.season_id} season={season}></z-decoding-price-line>
                </template>
            </template>
            <div class="decoding-price__baby-bed">
                Итого: <z-number-value num={houseTotalPrice} value="руб"> </z-number-value>
                <span if:true={settings.total.day_sale_next} class="decoding-price__sale"
                    >При выборе от <span class="decoding-price__number">{settings.total.day_sale_next.dayesNumber}</span> дней, ваша скидка будет
                    <span class="decoding-price__percent"> -{settings.total.day_sale_next.sale}%</span>
                </span>
            </div>

            <template if:true={displayServices}>
                <div class="decoding-price__subtitle">Дополнительные услуги</div>
                <div if:true={settings.total.baby_bed} class="decoding-price__baby-bed">
                    <div class="decoding-price__baby-bed-title">Детская кроватка</div>
                    <span if:true={settings.total.baby_bed.discount} class="decoding-price-line__sign decoding-price-line__sign_ml_none">(</span>
                    <z-number-value num={settings.total.baby_bed.price} value="руб"></z-number-value>
                    <span if:true={settings.total.baby_bed.discount} class="decoding-price-line__sign">-</span>
                    <z-number-value if:true={settings.total.baby_bed.discount} num={settings.total.baby_bed.discount} value="%"></z-number-value>
                    <span if:true={settings.total.baby_bed.discount} class="decoding-price-line__sign">)</span>
                    <span class="decoding-price-line__sign">*</span>
                    <z-number-value num={settings.total.baby_bed.days} value="ночь"></z-number-value>
                    <span class="decoding-price-line__sign">=</span>
                    <z-number-value num={settings.total.baby_bed.total_price} value="руб"></z-number-value>
                </div>
                <div if:true={settings.total.bath_house_black} class="decoding-price__baby-bed">
                    <div class="decoding-price__baby-bed-title">Баня по-черному</div>
                    <z-number-value num={settings.total.bath_house_black.price} value="руб"></z-number-value>
                    <span class="decoding-price-line__sign">*</span>
                    <z-number-value num={settings.total.bath_house_black.count} value="сеанс"></z-number-value>
                    <span class="decoding-price-line__sign">=</span>
                    <z-number-value num={settings.total.bath_house_black.total_price} value="руб"></z-number-value>
                </div>
                <div if:true={settings.total.bath_house_white} class="decoding-price__baby-bed">
                    <div class="decoding-price__baby-bed-title">Баня по-белому</div>
                    <z-number-value num={settings.total.bath_house_white.price} value="руб"></z-number-value>
                    <span class="decoding-price-line__sign">*</span>
                    <z-number-value num={settings.total.bath_house_white.count} value="сеанс"></z-number-value>
                    <span class="decoding-price-line__sign">=</span>
                    <z-number-value num={settings.total.bath_house_white.total_price} value="руб"></z-number-value>
                </div>
                <div class="decoding-price__baby-bed">Итого: <z-number-value num={addedServicesTotalPrice} value="руб"></z-number-value></div>
            </template>
            <template if:true={settings.total.food}>
                <template if:true={displayFood}>
                    <div class="decoding-price__subtitle">Питание</div>
                    <div if:true={settings.total.food.breakfast.total_price} class="decoding-price__baby-bed">
                        <div class="decoding-price__baby-bed-title">Завтраки</div>
                        <z-number-value num={settings.total.food.breakfast.price} value="руб"></z-number-value>
                        <span class="decoding-price-line__sign">*</span>
                        <z-number-value num={settings.total.food.breakfast.count} value="шт"></z-number-value>
                        <span class="decoding-price-line__sign">=</span>
                        <z-number-value num={settings.total.food.breakfast.total_price} value="руб"></z-number-value>
                    </div>
                    <div if:true={settings.total.food.lunch.total_price} class="decoding-price__baby-bed">
                        <div class="decoding-price__baby-bed-title">Обеды</div>
                        <z-number-value num={settings.total.food.lunch.price} value="руб"></z-number-value>
                        <span class="decoding-price-line__sign">*</span>
                        <z-number-value num={settings.total.food.lunch.count} value="шт"></z-number-value>
                        <span class="decoding-price-line__sign">=</span>
                        <z-number-value num={settings.total.food.lunch.total_price} value="руб"></z-number-value>
                    </div>
                    <div if:true={settings.total.food.dinner.total_price} class="decoding-price__baby-bed">
                        <div class="decoding-price__baby-bed-title">Ужины</div>
                        <z-number-value num={settings.total.food.dinner.price} value="руб"></z-number-value>
                        <span class="decoding-price-line__sign">*</span>
                        <z-number-value num={settings.total.food.dinner.count} value="шт"></z-number-value>
                        <span class="decoding-price-line__sign">=</span>
                        <z-number-value num={settings.total.food.dinner.total_price} value="руб"></z-number-value>
                    </div>
                    <div if:true={settings.total.food.sale} class="decoding-price__baby-bed">
                        Скидка за трехразовое питание: <z-number-value num={settings.total.food.sale} value="руб"></z-number-value>
                    </div>
                    <div class="decoding-price__baby-bed">
                        Итого: <z-number-value num={settings.total.food.total_price} value="руб"></z-number-value>
                    </div>
                </template>
            </template>
        </div>
        <div class="decoding-price__description">
            <div class="decoding-price__final-sum">
                Итоговая стоимость:<span class="decoding-price__total-number number-value" data-after="руб">{settings.total.total_price}</span>
            </div>
        </div>
    </div>
</template>
