mixin menu
	ul.menu
		li.menu__item
			a(href="https://krasnagorka.by/") Главная	
		li.menu__item.menu__item-sub-menu
			a(href="https://krasnagorka.by/dom-na-braslavskih-ozyorah/") Наши дома
			ul.menu__sub-menu
				li.menu__item
					a(href="https://krasnagorka.by/") Бунгало	
				li.menu__item
					a(href="https://krasnagorka.by/") Домик у причала	
				li.menu__item.menu__item_active
					a(href="https://krasnagorka.by/") Рыбацкий	
				li.menu__item
					a(href="https://krasnagorka.by/") Датский	
				li.menu__item
					a(href="https://krasnagorka.by/") Бабочка	
				li.menu__item
					a(href="https://krasnagorka.by/") Божья коровка	
				li.menu__item
					a(href="https://krasnagorka.by/") Пилигрим	
		li.menu__item
			a(href="https://krasnagorka.by/") Услуги и развлечения	
		li.menu__item
			a(href="https://krasnagorka.by/") Цены
		li.menu__item.menu__item_active
			a(href="https://krasnagorka.by/") Акции
		li.menu__item
			a(href="https://krasnagorka.by/") Схема проезда
		li.menu__item
			a(href="https://krasnagorka.by/") Календарь бронирования