mixin slider_desktop
	.slider
		.slider__wrapper
			.slider__item
				img.slider__item-img(src='https://krasnagorka.by/wp-content/uploads/2019/06/DSC2166-1280x852.jpg', alt='slide name')
				p.slider__item-title База отдыха на Браславских озерах
				p.slider__item-description Место, куда хочется возвращаться!
				+button('Смотреть все предложения')
			.slider__item
				img.slider__item-img(src='https://krasnagorka.by/wp-content/uploads/2017/10/DSC5471.jpg', alt='slide name')
				p.slider__item-title Уют и комфорт в каждом домике!
				p.slider__item-description Варианты размещения для любой компании. Вместимость базы до 90 спальных мест
				+button('Смотреть все предложения')
			.slider__item
				img.slider__item-img(src='https://krasnagorka.by/wp-content/uploads/2021/01/DSC0252-1280x852.jpg', alt='slide name')
				p.slider__item-title Развлечения для любого возраста
				p.slider__item-description Спортивные и уединенные, активные и для любителей тишины и релакса.
				+button('Смотреть все предложения')
			.slider__item
				img.slider__item-img(src='https://krasnagorka.by/wp-content/uploads/2015/02/DSC1304.jpg', alt='slide name')
				p.slider__item-title Горящие предложения на ближайшие даты!
				p.slider__item-description
				+button('Смотреть все предложения')