mixin welcome()
    .welcome
        .container
            .swiper-container.welcome__swiper
                .swiper-wrapper.welcome__swiper-wrapper
                    .swiper-slide.welcome__slide
                        .welcome__item
                            img.welcome__item-img(src='https://webdesigngalore.com/wp-content/uploads/2016/05/slider.png', alt="slide 1")
                            .welcome__item-content
                                .welcome__item-content-wrapper
                                    h1.welcome__item-title(data-swiper-parallax-x='100', data-swiper-parallax-opacity='0', data-swiper-parallax-duration="1000") We develop websites
                                    p.welcome__item-description(data-swiper-parallax-x='50', data-swiper-parallax-opacity='0' ,data-swiper-parallax-duration="1200") With pleasure... Best technology for your business
                    .swiper-slide.welcome__slide
                        .welcome__item
                            img.welcome__item-img(src='https://webdesigngalore.com/wp-content/uploads/2016/05/slider.png', alt="slide 1")
                            .welcome__item-content
                                .welcome__item-content-wrapper
                                    h2.welcome__item-title(data-swiper-parallax-x='100', data-swiper-parallax-opacity='0', data-swiper-parallax-duration="1000") Landing
                                    p.welcome__item-description(data-swiper-parallax-x='50', data-swiper-parallax-opacity='0' ,data-swiper-parallax-duration="1200") Easy... Send me you design
                    .swiper-slide.welcome__slide
                        .welcome__item
                            img.welcome__item-img(src='https://www.webzoo.in/wp-content/uploads/2018/04/web_designn.png', alt="slide 1")
                            .welcome__item-content
                                .welcome__item-content-wrapper
                                    h2.welcome__item-title(data-swiper-parallax-x='100', data-swiper-parallax-opacity='0', data-swiper-parallax-duration="1000") Shop
                                    p.welcome__item-description(data-swiper-parallax-x='50', data-swiper-parallax-opacity='0' ,data-swiper-parallax-duration="1200") No problem... Send me you design
                    .swiper-slide.welcome__slide
                        .welcome__item
                            img.welcome__item-img(src='http://www.777x7.com/images/777x7-img/web-design.png', alt="slide 3")
                            .welcome__item-content
                                .welcome__item-content-wrapper
                                    h2.welcome__item-title(data-swiper-parallax-x='100', data-swiper-parallax-opacity='0', data-swiper-parallax-duration="1000") Portfolio
                                    p.welcome__item-description(data-swiper-parallax-x='50', data-swiper-parallax-opacity='0' ,data-swiper-parallax-duration="1200") Easy... We can more
                .swiper-pagination.welcome__pagination