@import "../../common/constants";

.user {

    margin-bottom: 2rem;

    &__breadcrumbs {
        margin-top: 1rem;
    }

    &__row {
        max-width: initial;
        margin: 1rem -1rem 0;
        display: flex;
        flex-wrap: wrap;

        @include lg {
            margin: 2rem -2rem 0;
        }
    }

    &__col {
        padding: 0 1rem 3rem;
        max-width: 100%;
        flex: 1 0 100%;

        &:last-child{
            padding-bottom: 0;
        }

        @include md {
            &:first-child{
                max-width: 30%;
                flex: 1 0 30%;
            }
            &:last-child{
                max-width: 70%;
                flex: 1 0 70%;
            }
        }

        @include lg {
            padding: 1rem 2rem;
            &:first-child{
                max-width: 40%;
                flex: 1 0 40%;
            }
            &:last-child{
                max-width: 60%;
                flex: 1 0 60%;
            }
        }

        @include hd{
            &:first-child{
                max-width: 35%;
                flex: 1 0 35%;
            }
            &:last-child{
                max-width: 65%;
                flex: 1 0 65%;
            }
        }

    }

    &__editor {
        color: $GRAY_LIGHT;
        line-height: 1.5;
    }

    &__item {
        color: $GRAY_LIGHT;
        transition: .4s;

        &_link{
            text-decoration: underline;
            &:hover {
                color: $PRIMARY;
            }
        }

        &:after {
            content: ',';
        }

        &:last-child {
            &:after {
                content: none;
            }
        }
    }

    &__section {
        color: $GRAY_LIGHT;
        margin-bottom: 1rem;
        display: flex;
        line-height: 1.5;
        flex-wrap: wrap;

        @include sm{
            flex-wrap: nowrap;
        }

        &:before {
            content: attr(data-val);
            color: $BLUE;
            text-transform: uppercase;
            font-weight: 500;
            display: inline-block;
            min-width: 160px;
        }
    }

    &__inner{
        display: flex;
        flex-wrap: wrap;

        &_center{
            align-items : center;
        }
    }

    &__img{
        border-radius: 50%;
        width: 100%;
        border: 2px solid $WHITE;
        box-shadow: 0 2px 4px $GRAY;
        display: block;
        max-width: 200px;
        height: auto;
        margin: 0 auto;

        @include sm{
            max-width: 400px;
        }

        @include md{
            max-width: 100%;
        }
    }
}

.share-item {
    margin-right : .25rem;

    &:last-child {
        margin-right : 0;
    }

    i {
        color           : $BLUE;
        width           : 32px;
        height          : 32px;
        flex-shrink     : 0;
        display         : flex;
        justify-content : center;
        align-items     : center;
        margin-right    : 1rem;
        border-radius   : 50%;
        border          : 1px solid $BLUE;
    }

}

