@use "@styles/media";
@use "@styles/constants" as *;

.place {
    font-size: 14px;
    color: $WHITE;

    // @include media.sm{
    //     margin-left : 1.5rem;
    // }

    &__title {
        text-transform: uppercase;
    }

    &__day {
        font-weight: 700;
    }
}
