// Fonts
$FONT: 'Roboto', sans-serif;

// Colors
$WHITE: #ffffff;
$GRAY_1: #efefef;
$GRAY_2: #313131;
$GRAY_3: #cccccc;
$GRAY_4: #888888;
$GRAY_5: #dddddd;
$GREEN_1: rgb(207, 226, 221);
$GREEN_2: #44c4a1;
$GREEN_3: rgb(46, 134, 111);
$GREEN_4: rgb(220, 243, 237);

$RED_1: #e04f5f;
$RED_2: #e50f2e;
$RED_3: #a80c24;
$RED_4: #ffb1ba;
$BLUE_1: #1f70b1;
$BLUE_2: #d7edff;

// Sizes
$HEADER_HEIGHT: 70px;
$FOOTER_HEIGHT: 30px;
$WELCOME_HEIGHT: 86px;
