// Fonts
$FONT: "Roboto", sans-serif;

// Colors
$WHITE: #ffffff;
$GRAY: #f7f7f7;
$GRAY_1: #4a4a4a;
$GRAY_2: #101010;
$GRAY_3: #eee;
$GRAY_4: #595959;
$GRAY_5: #808080;
$GRAY_6: #bbb;
$GRAY_7: #999;
$GRAY_8: #eeeeee;

$BLACK: #000000;
$PRIMARY: #1498c6;
$PRIMARY_1: #07b8cc;
$PRIMARY_2: #95e0e9;
$PRIMARY_3: #3782c8;
$PRIMARY_10: #2a3959;
$RED: #d0021b;
$RED_2: #ED123D;
$GREEN: #009f18;

// Sizes
