// Fonts
$FONT: 'Roboto', sans-serif;

// Colors
$WHITE: #ffffff;
$GRAY: #f7f7f7;
$GRAY_1: #4a4a4a;
$GRAY_4: #595959;
$GRAY_2: #101010;
$GRAY_3: #eee;
$BLACK: #000000;
$PRIMARY: #1498c6;
$PRIMARY_10: #2a3959;
$RED: #d0021b;

// Sizes




