@use "@styles/media";

@mixin margin() {
    .mb-10 {
        margin-bottom: 1rem;
    }

    .mb-15 {
        margin-bottom: 1.5rem;
    }

    .mb-20 {
        margin-bottom: 2rem;
    }

    .mb-30 {
        margin-bottom: 3rem;
    }

    .mb-sm-025 {
        @include media.sm {
            margin-bottom: 0.25rem;
        }
    }

    .mr-sm-15 {
        @include media.sm {
            margin-right: 1.5rem;
        }
    }

    .mb-sm-none {
        @include media.sm {
            margin-bottom: 0;
        }
    }

    .mr-05 {
        margin-right: 0.5rem;
    }

    .mt-10 {
        margin-top: 1rem;
    }
}
