@use "constants";
@use "_media";
@use "./../common/_container";
@use "./../common/_padding";
@use "./../common/_margin";

@mixin button {
    text-decoration: none;
    border-radius: 6px;
    padding: 0.5rem 1rem;
    background-color: constants.$RED;
    color: constants.$WHITE;
    font-weight: 700;
    text-align: center;
    display: inline-block;
    min-width: 150px;
    font-size: 14px;
    box-shadow: 0 2px 4px 0 rgba(constants.$BLACK, 0.5);
}
