@use "@styles/media";

@mixin padding() {
    .px-075 {
        padding : {
            left: 0.75rem;
            right: 0.75rem;
        }
    }

    .px-sm-05 {
        @include media.sm {
            padding   : {
                left: 0.5rem;
                right: 0.5rem;
            }
        }
    }

    .py-30 {
        padding : {
            top: 3rem;
            bottom: 3rem;
        }
    }

    .py-20 {
        padding : {
            top: 2rem;
            bottom: 2rem;
        }
    }

    .py-15 {
        padding : {
            top: 1.5rem;
            bottom: 1.5rem;
        }
    }

    .py-05 {
        padding : {
            top: 0.5rem;
            bottom: 0.5rem;
        }
    }

    .py-025 {
        padding : {
            top: 0.25rem;
            bottom: 0.25rem;
        }
    }

    .py-sm-15 {
        @include media.sm {
            padding : {
                top: 1.5rem;
                bottom: 1.5rem;
            }
        }
    }
}
