@use "reset";
@use "mixins";
@use "padding";
@use "margin";
@use "container";

@include container.container();
@include padding.padding();
@include margin.margin();


body {
    font-family: AvenirNextCyr-Regular, sans-serif;
}

.h-100 {
    height: 100%;
}
.d-none {
    display: none;
}

.input-none {
    height: 0;
    opacity: 0;
}
