<template>
    <div class="step-house">
        <div class="step-house__body" onhappyevents={handlerHappyEvents} onhappyeventsrange={handlerHappyEventsRange}>
            <z-loader if:true={loading}></z-loader>
            <template if:false={loading}>
                <templte if:false={settings.house}>
                    <h4 if:true={settings.package} class="step-house__subtitle">{settings.package.title}</h4>
                    <z-select
                        class="step-house__select"
                        required
                        label="Выберите Домик"
                        onchange={calendarChange}
                        options={settings.calendars}></z-select>
                </templte>
                <template if:true={settings.house}>
                    <div class="step-house__row">
                        <div class="step-house__col">
                            <div class="step-house__info-group">
                                <img class="step-house__object-info-img" src={settings.house.picture} alt={settings.house.title} />
                                <z-select
                                    class="step-house__select step-house__calendars"
                                    required
                                    label="Домик"
                                    disabled={settings.eventTabId}
                                    onchange={calendarChange}
                                    options={settings.calendars}></z-select>
                            </div>
                            <z-select
                                class="step-house__select step-house__counts"
                                required
                                label="Количество человек"
                                disabled={settings.eventId}
                                onchange={countChange}
                                options={settings.counts}></z-select>

                            <z-select
                                class="step-house__select"
                                label="Детей без спального места"
                                onchange={childCountChange}
                                options={settings.childCounts}></z-select>

                            <div class="step-house__booking">
                                <img src={bookingImg} alt="booking img" class="step-house__booking-icon" />
                                <div class="step-house__booking-dates">
                                    <div class="step-house__booking-from" data-date="Дата заезда:">{dateStart}</div>
                                    <div class="step-house__booking-from" data-date="Дата выезда:">{dateEnd}</div>
                                </div>
                            </div>
                            <div if:false={settings.eventId} class="step-house__sales">
                                <template for:each={settings.house.daysSales} for:item="item">
                                    <span key={item.sale} class="step-house__item-sale"
                                        >от <span class="step-house__item-number">{item.dayes}</span> ночей скидка
                                        <span class="step-house__item-percent"> -{item.sale}%</span>
                                    </span>
                                </template>
                            </div>
                            <div if:true={settings.eventId} class="step-house__event">
                                <h3 class="step-house__event-title">{settings.eventModel.title}</h3>
                                <tab-line class="step-house__event-variant" title="Пакет" tooltip={eventOpportunities}>
                                    <span class="step-house__event-variant-value">{settings.eventModel.variant}</span>
                                </tab-line>
                            </div>
                            <div if:true={showEventMessageInfo} class="step-house__event-info">
                                <span class="step-house__event-info-start">!</span>{settings.eventTabMessageInfo}
                            </div>

                            <div class="step-house__happy-event" if:true={happyEvents.length}>
                                <div class="step-house__delimeter step-house__delimeter_small">МЕРОПРИЯТИЯ</div>
                                <template for:each={happyEvents} for:item="happyEvent">
                                    <div key={happyEvent.index} class="step-house__happy-event-item">
                                        <img class="step-house__happy-event-icon" src={happyEvent.img} alt="icon" />
                                        <span class="step-house__happy-event-description">{happyEvent.description}</span>
                                    </div>
                                </template>
                            </div>
                        </div>
                        <div class="step-house__col">
                            <z-calendar settings={settings}></z-calendar>
                        </div>
                    </div>

                    <tempalte if:false={settings.eventId}>
                        <div class="step-house__delimeter">ИНФОРМАЦИЯ О ЦЕНАХ</div>
                        <div class="step-house__row">
                            <template if:true={settings.seasonsLoading}>
                                <z-loader class="step-house__season-loading"></z-loader>
                            </template>
                            <template if:false={settings.seasonsLoading}>
                                <div class="step-house__col">
                                    <z-house-info onchangeseason={seasonsChange} settings={settings}></z-house-info>
                                </div>
                                <div class="step-house__col">
                                    <z-season-details season={currentSeason} house={settings.house} settings={settings}></z-season-details>
                                </div>
                            </template>
                        </div>
                    </tempalte>
                </template>
            </template>
        </div>
        <z-total-price if:true={settings.admin} settings={settings}></z-total-price>
        <z-step-button-navigation if:true={settings.house} error={error} settings={settings} onnext={nextButtonHandler}></z-step-button-navigation>
    </div>
</template>
