<template>
	<div class="selection-form">
		<div class="selection-form__title">Новогодний сезон</div>
		<svg class="selection-form__icon"
			 width="8"
			 height="14"
			 viewBox="0 0 8 14"
			 fill="none"
			 xmlns="http://www.w3.org/2000/svg">
			<path d="M0.999999 1L7 7L1 13"
				  stroke="#80828A" ></path>
		</svg>
	</div>
	<!-- ACTIVE -->
	<div class="selection-form selection-form_active">
		<div class="selection-form__title">Новогодний сезон</div>
		<svg class="selection-form__icon"
			 width="8"
			 height="14"
			 viewBox="0 0 8 14"
			 fill="none"
			 xmlns="http://www.w3.org/2000/svg">
			<path d="M0.999999 1L7 7L1 13"
				  stroke="#80828A" ></path>
		</svg>
	</div>
</template>