<template>
    <div class="weather">
        <div class="weather__current">
            <p class="weather__current-degrees">{weather.temperature}</p>
            <div class="weather__current-content">
                <img class="weather__current-icon mr-05" src={weather.icon}
                     alt="weather">
                <p class="weather__current-description">{weather.description}</p>
            </div>
        </div>
        <ul class="weather__future">
            <li class="weather__future-item" data-week-day={weather.firstDay.day}>
                <img src={weather.firstDay.icon} alt="weather"
                     class="weather__future-icon">
            </li>
            <li class="weather__future-item" data-week-day={weather.secondDay.day}>
                <img src={weather.secondDay.icon} alt="weather"
                     class="weather__future-icon">
            </li>
            <li class="weather__future-item" data-week-day={weather.thirdDay.day}>
                <img src={weather.thirdDay.icon} alt="weather"
                     class="weather__future-icon">
            </li>
        </ul>
    </div>
</template>