<template>
    <div class="weather">
        <div class="weather__current">
            <p class="weather__current-degrees">14</p>
            <div class="weather__current-content">
                <img class="weather__current-icon mr-05" src="https://darksky.net/images/weather-icons/rain.png"
                     alt="sunny">
                <p class="weather__current-description">Возможен небольшой дождь днем и вечером.</p>
            </div>
        </div>
        <ul class="weather__future">
            <li class="weather__future-item" data-week-day="вт">
                <img src="https://darksky.net/images/weather-icons/partly-cloudy-day.png" alt="weather"
                     class="weather__future-icon">
            </li>
            <li class="weather__future-item" data-week-day="ср">
                <img src="https://darksky.net/images/weather-icons/partly-cloudy-day.png" alt="weather"
                     class="weather__future-icon">
            </li>
            <li class="weather__future-item" data-week-day="чт">
                <img src="https://darksky.net/images/weather-icons/partly-cloudy-day.png" alt="weather"
                     class="weather__future-icon">
            </li>
        </ul>
    </div>
</template>