<template>
    <div class="currency">
        <span class="currency__label">Выберите валюту</span>
        <div class="currency__wrapper">
            <a class="currency__item currency__item_active" data-lang={currentCurrency.label} href="javascript:void(0)" onclick={showCurrenciesList}>
                <img src={currentCurrency.icon} alt={currentCurrency.label} class="currency__flag">
            </a>
            <template if:true={isOpenList}>
                <ul class="currency__list">
                    <template for:each={currencies} for:item="currency">
                        <a class="currency__item" key={currency.value} data-lang={currency.label} href="javascript:void(0)" onclick={chooseCurrency}>
                            <img src={currency.icon} alt={currency.label} class="currency__flag">
                        </a>
                    </template>
                </ul>
            </template>
        </div>

    </div>
</template>