mixin worker()
    .worker
        .worker__img-wrapper
            img.worker__img(src=require('./../images/team.jpg'), alt="Zanko Alexandr")
            a.worker__view(href="#") View
        .worker__title Alexandr Zanko
        .worker__position Project Manager
        .worker__skill 4 year