mixin coockie()
    .coockie
        p.coockie__title
            | This website uses cookies. By continuing to browse the site you are consenting to our
            a.coockie__info(href="https://docs.google.com/document/d/1xLUhIKKlCz7hphpEmdRahGf5Qy_BFiJL8DlJ_efDcKs/edit" target="_blank") use of cookies
            |.
        a.coockie__close(href="#")
            i.fas.fa-times

